<div *ngIf="cart$ | async as cart; else empty">
  <table *ngIf="cart.products.length > 0; else empty">
    <tr *ngFor="let product of cart.products">
      <button
        title="remove item"
        aria-label="Remove item"
        (click)="removeItem(product.id)"
      >
        &#10006;
      </button>
      <th scope="row">{{ product.id }}</th>
      <td><img [src]="product.image" /></td>
      <td>{{ product.title }}</td>
      <td>
        <input
          type="number"
          name="quantity"
          id="quantity"
          [value]="product.quantity"
          (change)="
            quantityChanged$.next({
              id: product.id,
              quantity: $event.target.value
            })
          "
          min="1"
        />
      </td>
      <td aria-label="price">
        {{ product.price * product.quantity | currency : "EUR" }}
      </td>
    </tr>
  </table>
</div>

<ng-template #empty>
  <p>Your cart is empty...</p>
</ng-template>

<p class="total" *ngIf="total$ | async as total">
  total: {{ total | currency : "EUR" }}
</p>
