<nav><button>Add new user</button></nav>
<table>
  <thead>
    <tr>
      <th scope="col" class="id">#</th>
      <th scope="col">email</th>
      <th scope="col">username</th>
      <th scope="col">name</th>
      <th scope="col">surname</th>
      <th scope="col">phone</th>
      <th scope="col" class="address">address</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of users$ | async">
      <ng-container
        *ngIf="!(usersBeingEdited$ | async).includes(user.id); else edit"
      >
        <tr
          app-user-row
          [user]="user"
          (edit)="editUser($event)"
          (delete)="deleteUser($event)"
          (viewCart)="selectedUserCart$.next($event); dialog.showModal()"
        ></tr>
      </ng-container>
      <ng-template #edit>
        <tr
          app-edit-user-row
          [user]="user"
          (cancel)="stopEditUser($event)"
          (submit)="applyEditUser($event)"
        ></tr>
      </ng-template>
    </ng-container>
  </tbody>
</table>

<dialog #dialog>
  <article>
    <button (click)="dialog.close()">Close</button>
    <app-cart
      *ngIf="dialog.open && selectedUserCart$ | async as selectedUserId"
      [userId]="selectedUserId"
    ></app-cart>
  </article>
</dialog>
